<header>
  <%= render "header" %>
  <div class="header-menu" id="header-title">
    <p>
      Estas son mis agendas
    </p>
  </div>
</header>

<ul>
  <% @agendas.each do |agenda| %>
    <li>
      <%= agenda.name %>
    </li>
  <% end %>
</ul>
