<header>
  <%= render "navbar" %>
</header>

<div class="row">
  <div class="s12 m12 center-align">
    <h3>Estas son mis agendas</h3>
  </div>
</div>

<div class="container">
  <div class="row pictograms">
    <% @agendas.each do |agenda| %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= link_to image_tag(agenda.image), disabled_agenda_boards_path(@disabled,agenda) %>
          <span class="card-title"><%= link_to "#{agenda.name}", disabled_agenda_boards_path(@disabled,agenda) %></span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
