<header>
  <%= render "navbar" %>
</header>

<div class="row">
  <div class="s12 m12 center-align">
    <h5>Estos son los tableros que estan en la agenda
      <h3>
        <%= @agenda.name %>
      </h3>
    </h5>
  </div>
</div>

<div class="container">
  <div class="row pictograms">
    <% @boards.each do |board| %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= link_to image_tag(board.image), "/disableds/#{@disabled.id}/agendas/#{@agenda.id}/boards/#{board.id}" %>
          <span class="card-title"><%= link_to "#{board.name}", "/disableds/#{@disabled.id}/agendas/#{@agenda.id}/boards/#{board.id}" %></span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
