@import 'colors'
@import 'navbar'
@import 'disableds'
@import 'agendas'
@import 'boards'
@import 'users'

$body-font: 1em

body
  font-family: $font-stack
  font-size: $body-font

  .card-title
    color: $gray-dark

  nav ul a:hover
    background-color: $accent-color
    color: $main-color

  .btn
    box-shadow: none
