// Place all the styles related to the disableds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color-bg: #b0f948
$primary-font-color: #01591c

header
  background-color: $primary-color-bg

  li
    display: inline-block

    div
      display: inline-block

.pictograms
  img
    border: 1px solid #9baec8
