.login-title
  color: $accent-color
  text-align: center
  width: 100%
  h2
    margin-top: 0

.field
  input:focus:not([readonly])
    border-bottom: 1px solid $main-color
    box-shadow: 0 1px 0 0 $main-color

.login-button
  button
    @extend .btn
    background-color: $accent-color
    margin: 2rem 26%
    width: 48%
