// Place all the styles related to the disableds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
$primary-color-bg: #b0f948;
$primary-font-color: #01591c;

header {
  background-color: $primary-color-bg;
}

nav {
  #menu-list-left {
  }

  #menu-list-right {
  }

  li {
    display: inline-block;

    div {
      display: inline-block;
    }
  }
}
