<nav>
<div class="row nav-menu">
  <ul id="menu-list">
    <div class="nav-menu-left col s6 m3 left-align">
      <li class="nav-menu-item">
        <% if @disabled %>
          <%= render "nav_disabled_selected" %>
        <% else %>
          <%= render "nav_no_disabled_selected" %>
        <% end %>
      </li>
    </div>

    <div class="nav-menu-center col s12 m6 center-align">
      <p>
        Texto central
      </p>
    </div>

    <div class="nav-menu-right s6 m3 right-align">
      <li class="nav-menu-item">
        <% if user_signed_in? %>
        <%= render "nav_current_user" %>
        <% else %>
        <%= render "nav_no_current_user" %>
        <% end %>
      </li>
    </div>

  </ul>
</div>

</nav>
