<li class="nav-menu-item user-nav">
  <%= link_to ('<i class="material-icons left">perm_identity</i>').html_safe, edit_user_registration_path %>
  <%= link_to current_user.name, edit_user_registration_path %>
  <%=  %>
</li>

<li class="nav-menu-item exit-nav">
  <%= link_to ("<i class='material-icons'>exit_to_app</i>").html_safe, destroy_user_session_path, method: 'DELETE' %>
</li>
