<div class="nav-menu-list-item">
  <p>Usuario: <strong><%= current_user.name %></strong></p>
</div>

<div class="nav-menu-list-item">
  <p><%= link_to 'Salir', destroy_user_session_path, method: 'DELETE' %></p>
</div>
