<li class="nav-menu-item user-nav">
  <i class="material-icons left">perm_identity</i>
  <%= current_user.name %>
</li>

<li class="nav-menu-item exit-nav">
  <%= link_to ("<i class='material-icons'>exit_to_app</i>").html_safe, destroy_user_session_path, method: 'DELETE' %>
</li>
