<nav>
  <ul id="menu-list">
    <% if @disabled %>
      <%= render "nav_disabled_selected" %>
    <% else %>
      <%= render "nav_no_disabled_selected" %>
    <% end %>

    <div id="top_bar">
      <li class="menu-list-item" id="menu-list-right">
        <% if user_signed_in? %>
          <%= render "nav_current_user" %>
        <% else %>
          <%= render "nav_no_current_user" %>
        <% end %>
      </li>
    </div>

  </ul>
</nav>
